In [2]:
import pandas as pd
import numpy as np

In [6]:
df1 = pd.read_excel('dataset_1.xlsx')
df2 = pd.read_excel('dataset_2.xlsx')

In [21]:
merged_df = pd.merge(df1, df2)

In [7]:
print(df1.head())
print(df2.head())

   instant     dteday  season  yr  mnth  hr  holiday  weekday  weathersit  \
0        1 2011-01-01       1   0     1   0    False        6           1
1        2 2011-01-01       1   0     1   1    False        6           1
2        3 2011-01-01       1   0     1   2    False        6           1
3        4 2011-01-01       1   0     1   3    False        6           1
4        5 2011-01-01       1   0     1   4    False        6           1

   temp
0  0.24
1  0.22
2  0.22
3  0.24
4  0.24
   Unnamed: 0  instant   atemp   hum  windspeed  casual  registered  cnt
0           0        1  0.2879  0.81        0.0       3          13   16
1           1        2  0.2727  0.80        0.0       8          32   40
2           2        3  0.2727  0.80        0.0       5          27   32
3           3        4  0.2879  0.75        0.0       3          10   13
4           4        5  0.2879  0.75        0.0       0           1    1

In [8]:
print(df1.dtypes)
print(df2.dtypes)

instant                int64
dteday        datetime64[ns]
season                 int64
yr                     int64
mnth                   int64
hr                     int64
holiday                 bool
weekday                int64
weathersit             int64
temp                 float64
dtype: object
Unnamed: 0      int64
instant         int64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

In [10]:
print(df1.isnull().sum())
print(df2.isnull().sum())

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
weathersit    0
temp          0
dtype: int64
Unnamed: 0     0
instant        0
atemp         11
hum            0
windspeed      0
casual         0
registered     0
cnt            0
dtype: int64

In [31]:
merged_df = pd.merge(df1, df2, how='inner', on= 'instant')

In [16]:
print(df1.columns)
print(df2.columns)

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'weathersit', 'temp'],
      dtype='object')
Index(['Unnamed: 0', 'instant', 'atemp', 'hum', 'windspeed', 'casual',
       'registered', 'cnt'],
      dtype='object')

In [32]:
merged_df = pd.concat([df1, df2], axis=0)

In [35]:
print(merged_df.shape)
print(merged_df.dtypes)

(1220, 17)
instant                int64
dteday        datetime64[ns]
season               float64
yr                   float64
mnth                 float64
hr                   float64
holiday               object
weekday              float64
weathersit           float64
temp                 float64
Unnamed: 0           float64
atemp                float64
hum                  float64
windspeed            float64
casual               float64
registered           float64
cnt                  float64
dtype: object

In [38]:
merged_df = merged_df.drop(['yr', 'Unnamed: 0'], axis=1)

In [39]:
merged_df

c:\Users\lenovo\anaconda3\lib\site-packages\IPython\lib\pretty.py:778: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  output = repr(obj)
c:\Users\lenovo\anaconda3\lib\site-packages\IPython\core\formatters.py:342: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  return method()

,instant,dteday,season,mnth,hr,holiday,weekday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1.0,1.0,0.0,False,6.0,1.0,0.24,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2011-01-01,1.0,1.0,1.0,False,6.0,1.0,0.22,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2011-01-01,1.0,1.0,2.0,False,6.0,1.0,0.22,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2011-01-01,1.0,1.0,3.0,False,6.0,1.0,0.24,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2011-01-01,1.0,1.0,4.0,False,6.0,1.0,0.24,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,606,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2121,0.93,0.1045,0.0,30.0,30.0
606,607,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2121,0.93,0.1045,1.0,28.0,29.0
607,608,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2121,0.93,0.1045,0.0,31.0,31.0
608,609,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2727,0.80,0.0000,2.0,36.0,38.0
609,610,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2576,0.86,0.0000,1.0,40.0,41.0

In [40]:
print(merged_df.isnull().sum())

instant         0
dteday        610
season        610
mnth          610
hr            610
holiday       610
weekday       610
weathersit    610
temp          610
atemp         621
hum           610
windspeed     610
casual        610
registered    610
cnt           610
dtype: int64

In [41]:
merged_df ['temp'] = merged_df['temp']. fillna(merged_df['temp'].mean())
merged_df ['atemp'] = merged_df['atemp']. fillna(merged_df['atemp'].mean())
merged_df ['hum'] = merged_df['hum']. fillna(merged_df['hum'].mean())
merged_df ['windspeed'] = merged_df['windspeed']. fillna(merged_df['windspeed'].mean())

In [47]:
print("Mean of temp:", merged_df['temp'].mean())
print("Median of temp:", merged_df['temp'].median())
print("Mode of temp:", merged_df['temp'].mode()[0])

Mean of temp: 0.1968852459016394
Median of temp: 0.19688524590163936
Mode of temp: 0.19688524590163936

In [46]:
print(merged_df.isnull().sum())

instant         0
dteday        610
season        610
mnth          610
hr            610
holiday       610
weekday       610
weathersit    610
temp            0
atemp           0
hum             0
windspeed       0
casual        610
registered    610
cnt           610
dtype: int64

In [48]:
df3 = pd.read_excel('dataset_3.xlsx')

In [49]:
final_df = pd.concat([merged_df, df3])

In [50]:
final_df = final_df.fillna(method='ffill')

In [51]:
final_df

,instant,dteday,season,mnth,hr,holiday,weekday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,yr
0,1,2011-01-01,1.0,1.0,0.0,False,6.0,1.0,0.24,0.199935,0.562475,0.204851,NaN,NaN,NaN,NaN
1,2,2011-01-01,1.0,1.0,1.0,False,6.0,1.0,0.22,0.199935,0.562475,0.204851,NaN,NaN,NaN,NaN
2,3,2011-01-01,1.0,1.0,2.0,False,6.0,1.0,0.22,0.199935,0.562475,0.204851,NaN,NaN,NaN,NaN
3,4,2011-01-01,1.0,1.0,3.0,False,6.0,1.0,0.24,0.199935,0.562475,0.204851,NaN,NaN,NaN,NaN
4,5,2011-01-01,1.0,1.0,4.0,False,6.0,1.0,0.24,0.199935,0.562475,0.204851,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,615,2011-01-28,1.0,1.0,20.0,False,5.0,2.0,0.24,0.227300,0.700000,0.194000,1.0,61.0,62.0,0.0
386,616,2011-01-28,1.0,1.0,21.0,False,5.0,2.0,0.22,0.227300,0.750000,0.134300,1.0,57.0,58.0,0.0
387,617,2011-01-28,1.0,1.0,22.0,False,5.0,1.0,0.24,0.212100,0.650000,0.358200,0.0,26.0,26.0,0.0
388,618,2011-01-28,1.0,1.0,23.0,False,5.0,1.0,0.24,0.227300,0.600000,0.223900,1.0,22.0,23.0,0.0
389,619,2011-01-29,1.0,1.0,0.0,False,6.0,1.0,0.22,0.197000,0.640000,0.358200,2.0,26.0,28.0,0.0